*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.major{
    text-align: center;
    margin-top: 150px;
}

h2{
    font-size: 1.5em;
    font-family: ubuntu;

}

.input{
    margin-top: 50px;
}

.weight{
    margin: 10px;
    font-size: 1.3em;
}

.height{
    margin: 20px;
    font-size: 1.3em;
}

#mass{
    height: 25px;
    width: 200px;
    padding-left: 10px;
}

#tall{
    height: 25px;
    width: 200px;
    padding-left: 10px;
}

body{
    background-color: #B7B89F;
}

.bttn{
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
    color:#B7B89F;
    background-color: #37353E;
}