body {
    text-align: center;
}

div {
    height: 100px;
    width: 600px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 1.4em;
    margin: auto;
    margin-top: 50px;
}